<% layout('layouts/boilerplate')%>
<div class="container mt-5 mb-5">
    <div class="container">
        <div class="card text-center border-success shadow">
            <div class="card-header">
                Add Institute Details
            </div>
        </div>
        <div class="card p-4 shadow p-3 mb-5 bg-white rounded">
            <div class="form-group row">
                <form action="/addInstitute" method="POST" class="validated-form">
                    <div class="image d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-secondary"><img src="./images/institute.png" height="200"
                                width="200" /></button>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Institute Name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="address">Address</label>
                        <textarea rows="5" class="form-control" cols="100" id="address" name="address" placeholder="Address" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phone">Contact No.</label><br>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="+91-9876543210" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="Website">Institute Website URL -</label>
                        <input type="url" class="form-control" id="website" name="website" placeholder="Example: https://www.iitbhu.ac.in" required>
                    </div>
                    <!-- <div class="mb-3">
                        <label class="form-label" for="Profile">Upload Profile Picture</label>
                        <input type="file" class="form-control" id="Profile" accept="image/*">
                        <div class="input-group">
                                <input type="file" class="form-control">
                                <button type="button" class="btn btn-secondary">Upload</button>
                            </div>
                    </div> -->
                    <div class="image d-flex flex-column justify-content-center align-items-center">
                        <button type="submit" class="btn btn-success">
                            Submit &nbsp; 
                            <i class="fas fa-paper-plane"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>