<% layout('layouts/boilerplate')%>
<div class="container mt-5 mb-5">
    <div class="container">

        <div class="card text-center border-success shadow">

            <div class="card-header">
                Add the details
            </div>

        </div>

        <div class="card p-4 shadow p-3 mb-5 bg-white rounded">

            <% for (var i = 0; i < professorList.length; i++) { %>
            <div class="form-group row">
                <form>

                    <div class="image d-flex flex-column justify-content-center align-items-center">
                        <button class="btn btn-primary"><img src="./images/avatar.png" height="200"
                                width="200" /></button>

                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Full Name" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="phone">Contact No.</label><br>
                        <input type="tel" class="form-control" id="phone" placeholder="9876543210" required>

                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="designation">Designation</label>
                        <input type="text" class="form-control" id="designation"
                            placeholder="Designation (Example: Professor)" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="department">Department</label>
                        <input type="text" class="form-control" id="department"
                            placeholder="Example: Computer Science & Engineering" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="institute">Institute & University</label>
                        <input type="text" class="form-control" id="institute"
                            placeholder="Example: Indian Institute of Technology - Banaras Hindu University" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="GoogleScholar">Google Scholar URL -</label>
                        <input type="url" class="form-control" id="GoogleScholar"
                            placeholder="Example: https://scholar.google.co.in/citations?user=LCD74DIAAAAJ" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="LinkedIn">LinkedIn URL -</label>
                        <input type="url" class="form-control" id="LinkedIn"
                            placeholder="Example: https://www.linkedin.com/in/sanjay-kumar-singh-8884a3a3/" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="Website">Faculty Website URL -</label>
                        <input type="url" class="form-control" id="Website"
                            placeholder="Example: https://www.iitbhu.ac.in/dept/cse/people/skscse" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="Other">Other URL (If Any)</label>
                        <input type="url" class="form-control" id="Other" placeholder="Enter URL">
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="Profile">Upload Profile Picture</label>
                        <input type="file" class="form-control" id="Profile" accept="image/*">
                        <!-- <div class="input-group">
                                <input type="file" class="form-control">
                                <button type="button" class="btn btn-secondary">Upload</button>
                            </div> -->
                    </div>

                    <div class="image d-flex flex-column justify-content-center align-items-center">
                        <button type="submit" class="btn btn-primary button buttonHover">Submit
                            &nbsp; <i class="fas fa-paper-plane"></i></button>
                    </div>



                </form>
            </div>
            <% } %>
        </div>

    </div>
</div>